<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="dashboard.css">

</head>
<body>

<div class="sidebar">
  <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="createplaylist.html"><i class="fa fa-fw fa-plus-square"></i> Create Playlist</a>
  <a href="playlist.html"><i class="fa fa-fw fa-heart-o"></i> My Songs </a>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <a href="login.html"></i>Logout <i class="fa fa-fw fa-sign-out"></i></a>
</div>

<div class="main">
  <h2>My Playlists</h2>
    <button class="playlist"><img src="album.png">Coding Playlist</button>
  <h2>Recommended Songs</h2>
    <div >
        <table id="customer">
            <thead>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>How to Code</td>
                    <td>Ammon</td>
                    <td>CSE106</td>
                    <td><button class="add"><i class="fa fa-fw fa-plus"></i></button></td>
                </tr>
            </tbody>
        </table>
</div>


</div>
<!-- <section id="home">
	<h2>Home section</h2>
</section>  -->
</body>
</html> 
