
/* Amber: #FFBF00 
   Dark Blue: #005581
*/

body{

    background-image: linear-gradient(to right, rgb(218, 118, 189) , rgb(248, 248, 125));
    /* border-style: dashed;   */
}
.header{
    /* background-color: #FFBF00;  */
    /* margin-bottom: 10%; */
    padding: 1px;
    margin-left: 30%;
    margin-right: 30%;
    /* border-radius: 12px; */

}

.body{
    /* background-color: #005581; */
    text-align: left;
    /* margin-bottom: %; */
    padding: 50px;
    padding-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    color: black;
    border-style: double ;
    border-width: 5px;

    /* border-radius: 12px; */
    /* border-inline-start-color: #FFBF00; */

}
h1{
    font-size: 60px;
    font-family: 'Trebuchet MS';
    text-align: center;
}

label{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    width: 100%;
    height: 40px;
    font-size: 20px;
}
form{
    border-color: #FFBF00;

}
button{
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 12px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 14px 40px; */
    text-align: center;
    width: 200px;
    height: 50px;
    border-style: solid;
    border-color: black;
    background-color: white;
    /* align-items: ; */
}
button:hover{
    color:white;
    background-color: black;
    border-color: white;
    transition: 0.3s;

}