<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Create Playlist</title>
        <link rel="stylesheet" href="dashboard.css">
    </head>
    <body>

        <div class="sidebar">
            <a href="dashboard.html"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="search.html"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="createplaylist.html"><i class="fa fa-fw fa-plus-square"></i> Create Playlist</a>
            <a href="playlist.html"><i class="fa fa-fw fa-heart-o"></i> My Playlists </a> 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="login.html">Logout <i class="fa fa-fw fa-sign-out"></i></a>

          </div>
          <br>
        <div class="move">
            <!-- <h2>Playlist 1</h2> -->
            <input type="search" id="search">
            <button>Search</button>
            <h2>Results</h2>
            <button class="playlist"><img src="album.png">Coding Playlist</button>
        </div>
        <br><br>
        <div class="move">
            <table>
                <thead>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                </thead>
                <tbody>
                    <tr></tr>
                    
                </tbody>
            </table>
        </div>
        <br><br><br><br><br><br><br>

        
    </body>
</html>