<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="dashboard.css">

</head>
<body>

<div class="sidebar">
  <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="createplaylist.html"><i class="fa fa-fw fa-plus-square"></i> Create Playlist</a>
  <a href="#artists"><i class="fa fa-fw fa-heart-o"></i> My Songs </a>
</div>
</body>
</html>