h2 {
  color: white;
  font-size: 35px;
}
img {
  width: 170px;
  height: 160px;
}
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to right, #8a2177, #3e73b4);
}
.add {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 50px;
}
.button {
  border-color: #111;
  transition-duration: 0.5s;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  height: 50px;
  width: 500px;
  /* font-size: x-large; */
  background: transparent;
  color: white;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* border: none; */
}
input[type="text"]:focus {
  /* border-bottom: 3px solid #f1f1f1; */
  outline: none;
}
.playlist {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: black;
  color: white;

  border: 3px solid white;
}
button:hover {
  background-color: rgb(55, 54, 54);
  color: white;

  transition-duration: 0.3s;
}
table {
  /* color: white; */
  width: 100%;
  border-collapse: collapse;
}
/* #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  } */

td {
  background: none;
  color: white;
}
th {
  border: none;
  padding: 8px;
}

tr:hover {
  background-color: rgb(121, 117, 226);
  transition-duration: 0.2s;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #221254;
  color: white;
}
/* tbody:hover{
    background-color: white;
    color: black;
} */

.move {
  margin-left: 190px;
}
.sidebar {
  flex: 1;
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  position: fixed;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 190px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
.sidebar a:active {
  color: #f1f1f1;
}
/* .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  } */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
